<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>

    </system.web>
  <appSettings>
    <add key="Token" value="在网站控制台中找"/>
    <add key="AppID" value="在网站控制台中找"/>
    <add key="EncodingAESKey" value="在网站控制台中找"/>
    <add key="Secret" value="在网站控制台中找"/>  
    <add key="AgentID" value="8"/>
    <add key="Conn" value="Data Source=数据库IP;Initial Catalog=数据库名称;Persist Security Info=True;User ID=用户名;Password=密码"/>
  </appSettings>
</configuration>
